asn1crypto==0.24.0
attrs==23.1.0
Automat==22.10.0
cffi==1.15.1
constantly==15.1.0
cryptography==40.0.2
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
pycparser==2.19
six==1.16.0
Twisted==22.10.0
typing-extensions==4.5.0
zope.interface==6.0
