asn1crypto==0.24.0
attrs==19.1.0
autobahn==19.9.3
Automat==0.7.0
cffi==1.12.3
constantly==15.1.0
cryptography==2.7
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
pycparser==2.19
PyHamcrest==1.9.0
six==1.12.0
Twisted==19.7.0
txaio==18.8.1
zope.interface==4.6.0
